#container {
    /* border: 3px dotted purple; */
    height: 80vh;
    width: 90vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-image: url("under the bed edited.png");
    background-size: 90vw 80vh;
    background-repeat: no-repeat;

}

body{
    background-color: pink;
}

#intro{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkblue;
    text-align: center;
}


#kitty {
    width: 4vw;
    height: 6vh;
    /* Placeholder block below 70x50 */
    background-image: url("catta.png");
    position: absolute;
    background-repeat: no-repeat;

    background-size: 4vw 6vh;
    top: 75vh; /* Start near the bottom */
    left: 40vw; /* Center horizontally */
}


#toy {
    width: 3vw;
    height: 3vh;
    /* Placeholder block below  size 45x30*/
    background-image:url("mouse.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 20vh; /* Example starting position */
    left: 45vw; /* Example starting position */
}

.bunnies {
    width: 5vw;
    height: 5vh;
    background-color: burlywood;
    position: absolute;
    top: 40vh; /* Example starting position */
    left: 50vw; /* Example starting position */
    /* size 60x40 */
}
