#container {
    border: 3px dotted purple;
    height: 80vh;
    width: 90vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-image: url("under the bed edited.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
* {
    box-sizing: border-box;
}
body{
    background-color: pink;
}
#kitty, #toy, .bunnies {
    position: absolute;
    background-repeat: no-repeat;
    border: 1px solid red; /* Debugging the container */
}
#intro{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkblue;
    text-align: center;
}


#kitty {
    width: 4vw;
    height: 6vh;
    /* Placeholder block below 70x50 */
    background-image: url("catsprite.png");
    position: absolute;
    background-repeat: no-repeat;

    background-size: cover;
    top: 75vh; /* Start near the bottom */
    left: 40vw; /* Center horizontally */
}


#toy {
    width: 3vw;
    height: 3vh;
    /* Placeholder block below  size 45x30*/
    background-image:url("mouse.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 20vh; /* Example starting position */
    left: 45vw; /* Example starting position */
}

.bunnies {
    width: 5vw;
    height: 6vh;
    background-image:url("purplebunny.png");
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: 40vh; /* Example starting position */
    left: 50vw; /* Example starting position */
    /* size 60x40 */
}
