#container {
    border: 1px solid black;
    height: 80vh;
    width: 90vw;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-image: url("under the bed edited.png");
    background-size: 90vw 80vh;
    background-repeat: no-repeat;

}

body{
    background-color: pink;
}

#intro{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkblue;
    text-align: center;
}


#kitty {
    width: 6vw;
    height: 6vh;
    /* Placeholder block below */
    background-color: pink;
    position: absolute;
    top: 75vh; /* Start near the bottom */
    left: 40vw; /* Center horizontally */
}

#toy {
    width: 3vw;
    height: 3vh;
    /* Placeholder block below */
    background-color: red;
    position: absolute;
    top: 20vh; /* Example starting position */
    left: 45vw; /* Example starting position */
}

.bunnies {
    width: 5vw;
    height: 5vh;
    background-color: burlywood;
    position: absolute;
    top: 40vh; /* Example starting position */
    left: 50vw; /* Example starting position */
}
