* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

article{
  background-image: url('/img/top-image.png'), url('/img/bottom-image.png');
  background-repeat:no-repeat, no-repeat;
  background-position: top, bottom;
  background-image: linear-gradient(to bottom rgba(0,0,0,1), to top rgba(0,0,0,0));
  border-style: solid;
  border-width: 1mm;
  border-left: none;
  border-right: none;
  border-color:red;
}

.name{
  background-image: url('/img/logo.png');
  filter: drop-shadow(5px 5px 2px black);
}
