body{
    margin:0;
}

ul{
    list-style-type: none;
    margin:0;
    background-color: black;
    padding: 10px 0px;
    justify-content: flex-end;

}

li{
    display:inline;

}

li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;

}

li a:hover{
    background-color: pink;
}